<h3><%= position.pluralize(collection.count) + ':' %></h3>
<% if collection.present? %>
  <% collection.each do |person| %>
    <p>
      <%= person.full_name %>
      <%= link_to "Remove #{position.downcase}",
          if person.is_a?(Director)
            director_path(person, :movie_id => @movie.id)
          else
            writer_path(person, :movie_id => @movie.id)
          end,
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>
<p>
  <%= form_for collection.build do |person_field| %>
    <%= person_field.label :name%>
    <%= person_field.text_field :name %>

    <%= person_field.label :surname%>
    <%= person_field.text_field :surname %>

    <%= person_field.hidden_field :movie_id, value: @movie.id %>

    <%= person_field.submit "Add #{position.downcase}"%>
  <% end %>
</p>
