<%= form_for @movie do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :release_date, "Release date (YYYY-MM-DD) " %>
  <%= f.text_field :release_date %>
</p>

<p>
  <%= f.label :duration, "Duration (HH:MM)" %>
  <%= f.text_field :duration %>
</p>

<p>
  <%= f.label :info, "Movie description" %>
  <%= f.text_area :info %>
</p>

<p>
  <%= f.label :genres %>
  <%= f.text_field :genres %>
</p>

<p>
  <%= f.label :countries %>
  <%= f.text_field :countries %>
</p>


<h3><%= 'Director'.pluralize(@movie.directors.count) + ':' %></h3>
<% if @movie.directors.present? %>
  <% @movie.directors.each do |director| %>
    <p>
      <%= director.full_name %>
      <%= link_to "Remove director", movie_movies_director_path(@movie, director), method: :delete,
          data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>
<p> Add director: </p>
<p>
  <%= fields_for :director, @movie.directors.last do |director_field| %>
    <%= director_field.label :name%>
    <%= director_field.text_field :name %>

    <%= director_field.label :surname%>
    <%= director_field.text_field :surname %>

  <% end %>
</p>

<p>
  <%= fields_for :writer, @movie.writers.last do |writer_field| %>
    <h3>Writer:</h3>
    <%= writer_field.label :name %>
    <%= writer_field.text_field :name %>

    <%= writer_field.label :surname %>
    <%= writer_field.text_field :surname %>

  <% end %>
</p>
  <%= f.submit %>

<% end %>
