<p>
  <%= fields_for :director, @director do |director_field| %>
    <h3>Director:</h3>
    <%= director_field.label :name%>
    <%= director_field.text_field :name %>

    <%= director_field.label :surname%>
    <%= director_field.text_field :surname %>

    <%= director_field.hidden_field :movie_id, value: @movie.id %>

  <% end %>
</p>

<p>
  <%= fields_for :writer, @writer do |writer_field| %>
    <h3>Writer:</h3>
    <%= writer_field.label :name %>
    <%= writer_field.text_field :name %>

    <%= writer_field.label :surname %>
    <%= writer_field.text_field :surname %>

  <% end %>
</p>
