<h1>List of movies</h1>


<% @movies.each do |movie| %>
  <p>
    Title: <%= movie.title %>
  </p>
  <p>
    Release date: <%= movie.release_date || 'unknown' %>
  </p>
  <p>
    Duration: <%= movie.duration&.strftime "%H:%M:%S" || 'unknown' %>
  </p>
  <p>
    Info: <%= movie.info %>
  </p>
  <p>
    Genres: <% movie.genres.each do |genre| %>
              <%= genre + ", " %>
            <% end %>
  </p>
  <p>
    Countries: <%= movie.countries %>
  </p>
<% end %>
