<h1>List of movies</h1>

<% @movies.each do |movie| %>
  <h3>
    Title: <%= movie.title %>
    <% if movie.opinions.any? %>
      | <%= movie.opinions.average(:score) %>
    <% end %>
  </h3>
  <p>
    Info: <%= movie.info %>
  </p>
  <%= link_to "More information", movie %>
<% end %>
<br>

<p> <%= link_to "Add movie", new_movie_path %> </p>
<p> <%= link_to "Manage director", directors_path %> </p>
<p> <%= link_to "Manage writers", writers_path %> </p>
