<h3>
  Title: <%= @movie.title %>
</h3>
<% if @movie.opinions.any? %>
  <p>
    Rating: <%= @movie.opinions.average(:score).to_s + "/10" %>
  </p>
<% end %>
<p>
  Release date: <%= @movie.release_date || 'unknown' %>
</p>
<p>
  Duration: <%= format_duration(@movie.duration) || 'unknown' %>
</p>
<p>
  Info: <%= @movie.info %>
</p>
<p>
  <%= render 'common/list', collection: @movie.genres, label: "Genre" %>
</p>
<p>
  <%= render 'common/list', collection: @movie.countries, label: "Country" %>
</p>
<p>
  <%= render 'common/list', collection: @movie.directors.map(&:full_name), label: "Director" %>
</p>

<p>
  <%= render 'common/list', collection: @movie.writers.map(&:full_name), label: "Writer" %>
</p>

<p>
  <%= link_to "Edit", edit_movie_path(@movie) %>
  <%= link_to "Delete", @movie, method: :delete,
      data: { confirm: "Do you want to delete #{@movie.title}?" } %>
</p>
<h3>Opinions</h3>
<% @movie.opinions.each do |opinion| %>
  <p>
    <%= render 'opinions/opinion', opinion: opinion %>
  </p>
<% end %>
<%= render 'opinions/form' %>
<%= link_to "Back", movies_path %>
