<h3>
  Title: <%= @movie.title %>
</h3>
<p>
  Release date: <%= @movie.release_date || 'unknown' %>
</p>
<p>
  Duration: <%= @movie.duration&.strftime "%H:%M" || 'unknown' %>
</p>
<p>
  Info: <%= @movie.info %>
</p>
<p>
  Genres: <% @movie.genres.each.with_index do |genre, i| %>
            <%= ", " if i > 0 %>
            <%= genre %>
          <% end %>
</p>
<p>
  Countries:  <% @movie.genres.each.with_index do |genre, i| %>
                <%= ", " if i > 0 %>
                <%= genre %>
              <% end %>
</p>
<p>
  Directors:  <% @movie.directors.each.with_index do |director, i| %>
                <%= ", " if i > 0 %>
                <%= director.full_name %>
              <% end %>
</p>
<%= form_for @director do |director_form| %>
  <%= director_form.label :name %>
  <%= director_form.text_field :name %>
  <%= director_form.label :surname %>
  <%= director_form.text_field :surname %>
  <%= director_form.hidden_field :movie_id, value: @movie.id %>
  <%= director_form.submit "Add director" %>
<% end %>
<p>
  Writers:  <% @movie.writers.each.with_index do |writer, i| %>
                <%= ", " if i > 0 %>
                <%= writer.full_name %>
              <% end %>
</p>
<p>
  <%= link_to "Edit", edit_movie_path(@movie) %>
  <%= link_to "Delete", @movie, method: :delete,
      data: { confirm: "Do you want to delete #{@movie.title}?" } %>
</p>
<%= link_to "Back", movies_path %>
