<h3>
  Title: <%= @movie.title %>
</h3>
<p>
  Release date: <%= @movie.release_date || 'unknown' %>
</p>
<p>
  Duration: <%= @movie.duration ? Time.at(@movie.duration*60).utc&.strftime("%H:%M") : 'unknown' %>
</p>
<p>
  Info: <%= @movie.info %>
</p>
<p>
  <%= render 'list', collection: @movie.genres, label: "Genre" %>
</p>
<p>
  <%= render 'list', collection: @movie.countries, label: "Country" %>
</p>
<p>
  <%= render 'list', collection: @movie.directors.map(&:full_name), label: "Director" %>
</p>

<p>
  <%= render 'list', collection: @movie.writers.map(&:full_name), label: "Writer" %>
</p>

<p>
  <%= link_to "Edit", edit_movie_path(@movie) %>
  <%= link_to "Delete", @movie, method: :delete,
      data: { confirm: "Do you want to delete #{@movie.title}?" } %>
</p>
<%= link_to "Back", movies_path %>
