<h3><%= label.pluralize(collection.count) + ':' %></h3>
<% collection.each do |person| %>
  <p>
    <%= person.full_name.titleize %>
    <% if admin? %>
      <%= link_to "Remove #{label.downcase}", person,
          method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
<% end %>
<%= render 'common/director_writer_form', model: model %>
<p> <%= link_to "Movies list", movies_path %> </p>
